

.bd{
    background-color: orange;
}
td{
    width: 20px;
    height: 20px;
    border: solid;
    border-color:black;
    border-width: 1px;
}
td.taxi{
    background-color: darkblue;
   // background-image: url('image/car.png');
}

td.passenger{
    background-color: green;
    
}



